/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 18px;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 300;

}

header {
    float:left;
    width: 100%;
    position: fixed;
    z-index: 100;
}

#topNav {
    float: right;
    margin-right: 5%;
}

#topNav li {
    display: inline-block;
    padding: 0 10px;
    font-size: 1.111rem;
}

#topNav a {
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: RGBA(102, 102, 102, .4);
}

a {
    text-decoration: none;
    color: white;
    z-index: 100;
}

section {
    width: 100%;
    height: 800px;
    font-size: 2rem;
    clear:both;
    text-align: center;
    overflow: hidden;

}

section:first-of-type {
    clear: none;
}

section h1 {
    margin: 0 auto;
    font-weight: 400;
    font-size: 6rem;
    width:100%;
    position: relative;
    top: 25%;
    border-radius: 4px;
    color: white;
    background-color: transparent;
}

#section1 h1 {
    font-weight: 400;
    width: 100%;
    padding-bottom: 4%;
    font-size: 8rem;
    background-color: transparent;

}

#section1 h3 {
    margin: -30px auto 0 auto;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    position: relative;
    top: 24%;
    color: white;
    font-size: 1.9rem;
}

.pageButton {
    width: 20%;
    margin: 1% auto 0 auto;
    position: relative;
    top: 25%;
    background: #25A6E1;
    background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
    background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
    padding:8px 13px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:17px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #1A87B9
}

.backButton {
    max-width: 25%;
    margin: 0 auto;
    position: relative;
    left: 0;
    top: 50px;
    z-index: 100;
    background: #25A6E1;
    background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
    background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
    padding:8px 13px;
    color:#fff;
    font-family:'Helvetica Neue',sans-serif;
    font-size:17px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #1A87B9    
}

#section1 {
    background: url("https://images.unsplash.com/photo-1437419764061-2473afe69fc2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=76fba3bdb1e04cb26a02000be2fe7740");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

#section2 {
    background: url("https://images.unsplash.com/photo-1446062061624-594b6e3403d7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=4efaf1d988fdf1b79102ceb993b031d2");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

#section2content {
    display: none;
    width: 100%;
    margin: 0 auto;
    color: white;
    overflow: hidden;
}

#section2content p {
    display: inline-block;
    position: relative;
    margin: 150px auto 0 auto;
    padding: 0 20px;
    width: 25%;
    font-size: .8rem;
}

#aboutImages {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 100%; 
}

#aboutImages img {
    display: inline-block;
    margin: 20px;
    max-width:20%;
    max-height:20%;
    width: auto;
    height: auto;
    border-radius: 100%;
}

/*#section2content img {
    display: block;
    margin: 100px auto 0 auto;
    max-width:70%;
    max-height:70%;
    width: auto;
    height: auto;
    border-radius: 100%;
}*/ 

#section3 {
    background: url("https://images.unsplash.com/reserve/6HJtLkJSDqjqlE2NipEu_macbook.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=44100217df531765e155549ce3e11a43") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

#section3content {
    display: none;
    width: 100%;
    margin: 0 auto;
    color: white;
    overflow: hidden;

}

#section3content p {
    display: inline-block;
    position: relative;
    margin: 100px auto 0 auto;
    padding: 0 20px 80px 0;
    width: 75%;
    font-size: .8rem;
}

#section3content div img {
    display: inline-block;
    margin: 0 auto;
    max-width: 20%;
    width: auto;
    height: auto;
}

#workimages {
    background-color: white;
    width: 100%;
}

#section4 {
    /*background: url("https://images.unsplash.com/photo-1431068799455-80bae0caf685?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=1103483fbdea36a28a44f625bfe2214a") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;*/
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    color: white;
}

#section4top {
    z-index: 1;
    width: 100%;
    margin: 8% auto 0 auto;
}

#section4top h1{
    width: 100%;
}

#bgvid { 
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    z-index: -100;
}

#container {
    display: inline-block;
    text-align: left;
    width: 50%;
    margin: 150px auto 0 auto;
    padding-left: 10%;
    float: right;
}

#section4content {
    display: none;
    width: 100%;
    margin: 0 auto;
    color: white;
    overflow: hidden;
}

#section4-p {
    display: inline-block;
    position: relative;
    top: 150px;
    left: 50px;
    width: 40%;
    height: auto;
}

#section4content p {
    margin: 0 auto;
    font-size: .8rem;
}

#section4content p:first-of-type {
    margin: 0 auto;
}

.btn {
  background-color: #cdcdcd;
  padding: 6px 12px;
  margin: 0 10px 0 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  transition: all 200ms ease-in-out;
}

#image-to-vote-on {
    max-width: 70%;
    margin: 0 auto;
    width: auto;
    height: auto;
    text-align: center;
}

#buttons-wrapper {
    width: 70%;
    text-align: center;
    margin: 20px auto 0 auto;
    display: block;
}

#bottomNav {
    text-align: center;
}

#bottomNav a {
    text-decoration: none;
    color: white;
}

#bottomNav li {
    display: inline-block;
    padding: 0 10px;
}

footer {
    width: 100%;
    z-index: 0;
    background-color: black;
    color: white;
    clear: both;
}

/* Responsive Code*/

@media screen 
and (max-width: 750px) {
    #topNav a{
        font-size: 10pt;
    }
    #topNav li {
        padding: 0 auto;
    }
    #section2content, #section3content, #section4content {
        height: auto;
    }
    #buttons-wrapper {
        position: relative;
        top: -70px;
    }
    #container {
        position: relative;
        top: -70px;
    }
    #section4-p p {
        display: none;
    }
    #section1 h1 {
        font-size: 70pt;
    }
    #section1 h3 {
        font-size: 15pt;
    }
    #section2 h1, #section3 h1, #section4 h1 {
        font-size: 50pt;
    }
    .pageButton, .backButton {
        font-size: 10px;
    }
}

@media screen 
and (max-width: 420px) {
    #topNav a{
        font-size: 8pt;
    }
    #topNav li {
        padding: 0 auto;
    }
    #section2content, #section3content, #section4content {
        height: auto;
    }
    #buttons-wrapper {
        position: relative;
        top: -70px;
    }
    #container {
        position: relative;
        top: -70px;
    }
    #section4-p p {
        display: none;
    }
    #section1 h1 {
        font-size: 50pt;
    }
    #section1 h3 {
        font-size: 10pt;
        padding-top: 20px;
    }
    #section2 h1, #section3 h1, #section4 h1 {
        font-size: 40pt;
    }
    #section2content p {
        display: none;
    }
    #section3content p{
        display: none;
    }
    #section4top h1 {
        font-size: 30pt;
    }
    #workimages{
        margin: 100px 0;
    }
    #aboutImages img{
        padding-top: 100px;
        max-width: 30%;
        border-radius: 0;
    }
    .pageButton, .backButton {
        font-size: 5pt;
    }
    .btn {
        font-size: 6pt;
    }
}


/*Ipad*/
@media only screen 
and (min-width: 768px)
and (max-width: 1024px) 
and (orientation : portrait) {

}

/*Nexus 6p*/
@media only screen
and (min-device-width : 435px)
and (max-device-width : 773px)
and (orientation : portrait) {
    
}

/*Iphone 6 PLUS*/
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : portrait) {
    
}

/*Iphone6*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
    
}

/*Nexus 5x*/
@media only screen
and (min-device-width : 360px)
and (max-device-width : 640px)
and (orientation : portrait) {
    
}

/*IPhone 5*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
    
}

/*Nexus 5x*/
@media only screen
and (min-device-width : 411px)
and (max-device-width : 731px)
and (orientation : portrait) {
    
}


/*@media screen and (max-width: 900px) {
    html {
        font-size: 12px;
    }
    .pageButton, .backButton {
        font-size: 14px;
    }
    .btn {
        font-size: 12px;
    }
    section {
        height: 80%;
    }
}
@media screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
    section {
        height: 50%;
    }
    .pageButton, .backButton {
        font-size: 10px;
    }
    .btn {
        font-size: 8px;
    }
    #section2content p, #section2content img {
        position: relative;
        top: -100px;
    }
}

@media screen and (max-width: 420px) {
    html {
        font-size: 6px;
    }
    section {
        height: 45%;
    }
    .pageButton, .backButton {
        font-size: 8px;
    }
    .btn {
        font-size: 6px;
    }
    #section2content p, #section2content img {
        position: relative;
        top: -100px;
    }
    #workimages {
        position: relative;
        top: -100px;
    }
    #section4-p {
        position: relative;
        top: 100px;
    }
    #buttons-wrapper {
        width: 80%;
        margin: 10px auto 0 auto;
    }
    #container {
        position: relative;
        top: -50px;
    }
}

@media screen and (max-width: 330px) {
    html {
        font-size: 6px;
    }
    section {
        height: 45%;
    }
    .pageButton, .backButton {
        font-size: 6px;
    }
    .btn {
        font-size: 6px;
        padding: 2px 8px;
    }
    #section1 h3 {
        padding-top: 15px;
    }
    #section2content p, #section2content img {
        position: relative;
        top: -100px;
    }
    #section3content p {
        position: relative;
        top:-30px;
    }
    #workimages {
        position: relative;
        top: -150px;
    }
    #section4-p {
        position: relative;
        top: 80px;
        margin: 0 15px 0 0;
    }
    #buttons-wrapper {
        width: 100%;
        margin: 10px auto 0 auto;
    }
    #container {
        position: relative;
        top: -70px;
    }
}*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
